* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(0, 0, 33);
    color: white;
}

/* Primary Navigation */

.main_navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    background-color: rgb(14, 14, 63);
}

.main_navigation_right ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.main_navigation_right ul li a {
    text-decoration: none;
    color: white;
}

.main_navigation_right ul li a:hover {
    color: blueviolet;
    font-size: 1.02rem;
}

.main_navigation_right ul li {
    list-style: none;
    margin: 0 23px;
    font-weight: 400;
}

.main_navigation_left {
    font-size: 1.5rem;
    font-weight: 600;
}

.main_navigation_left:hover {
    font-size: 1.6rem;
}

/* Main Section */

.main_section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 60px 0;
}

.main_section>div {
    width: 30%;
}

.left_section h1 {
    font-size: 3rem;
}


#element {
    font-size: 1.8rem;
    color: blueviolet;
}

.left_section h1 .purple {
    color: blueviolet;
    font-size: 3rem;
}

.left_section .sub_heading {
    font-size: 2.2rem;
}

.right_section img {
    width: 100%;
    height: 100%;
    /* margin: 40px -50px; */
}

/* Main Button */

.main_btn {
    margin: 15px 0 0 0;
}


.btn {
    font-size: .9rem;
    padding: 12px;
    border-radius: 8px;
    background-color: rgb(144, 69, 214);
    color: white;
    /* outline: none; */
    border: 1px solid white;
    cursor: pointer;
    letter-spacing: .05rem;
}

.btn:hover {
    background-color: rgb(115, 35, 190);
    /* border: 2px solid rgb(14, 14, 63); */
    border: 2px solid rgb(136, 134, 134);
}

.margin_left {
    margin-left: 20px;
}



/* Second Section */

.second_section {
    /* background-color: green; */
    max-width: 80vw;
    /* height: 100vh; */
    height: 670px;
    margin: 0px auto;
}

.second_section h1 {
    font-size: 1.5rem;
    margin: 90px 0px;
}

.second_section .box {
    background: white;
    width: 80vw;
    height: 2px;
    margin: 60px 0;
    display: flex;
}


/* Verticaal Section */

.second_section .vertical {
    height: 90px;
    background-color: white;
    width: 1px;
    margin: 0px 125px;
}

.img_top {
    width: 40px;
    position: relative;
    top: -48px;
    left: -20px;
}


.vertical_title {
    position: relative;
    top: 48px;
    width: 175px;
}

.vertical_desc {
    position: relative;
    top: 54px;
    width: 200px;
    font-size: 15px;
    font-weight: 400;
    color: rgb(158, 158, 158);
}

footer {
    background-color: #03032b;
}

.footer_flex {
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer_flex>div {
    font-size: 20px;
}

.footer_flex li {
    list-style: none;
}

.footer_flex a {
    text-decoration: none;
    color: white;
    font-size: 13px;
}

.footer_copyright {
    text-align: center;
    padding: 15px;
    color: rgb(141, 141, 141);
    font-size: 13px;
}